<app-home></app-home>
<section role="main" class="content-body content-body-modern">
  <div class="row page-header page-header-left-inline-breadcrumb">
    <div class="col-md-12">
      <h3>Manage Users</h3>
      <div class="card">
        <div class="card-body">
          <div class="row filter-cont">
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Name" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label>Roles</label>
                <input type="text" class="form-control" placeholder="Roles" required />
              </div>
            </div>

            <div class="col-md-3 pl-0">
              <div class="pt-4 text-right">
                <button type="button" class="btn btn-primary text-right" (click)="editUser(content)">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body border">
          <div class="table-responsive">
            <!-- <div *ngIf="isLoading" class="table-loader">
                            <img src="../../../../assets/img/loading.gif" width="100px" alt="loading" />
                        </div> -->
            <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Roles</th>
                  <th>Last Login</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td></td>
                  <td>Pankti Bhavsar</td>
                  <td>panktibh</td>
                  <td>panktibhavsar1@gmail.com</td>
                  <td>9725688924</td>
                  <td>Super Admin </td>
                  <td></td>
                  <td>
                    <a href="" title="Edit User Details" class="icon-a">
                      <i class="fa fa-edit icons-size icon-margin"></i>
                      <i class="fa fa-trash ml-2 icons-size icon-margin"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <!-- <td colspan="10" class="no-data-available text-center">No matching records found
                                    </td> -->
                </tr>
              <tbody>
            </table>
            <!-- <ngb-pagination
                            [pageSize]="itemsPerPage" [maxSize]="7" [rotate]="true"
                            [boundaryLinks]="true">
                        </ngb-paginationms> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<ng-template #content let-modal>
  <div class="modal-header">

    <h4 class="modal-title">Add User</h4><br><br>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row filter-cont">
        <div class="col-md-6 pl-0">
          <div class="pt-0">
            <input type="text" class="form-control" placeholder="First Name" required />
          </div>
        </div>
        <div class="col-md-6 pl-0">
          <div class="pt-0">
            <input type="text" class="form-control" placeholder="Last Name" required />
          </div>
        </div>
      </div><br>
      <div class="row filter-cont">
        <div class="col-md-6 pl-0">
          <input type="text" class="form-control" placeholder="Email Address" required />
        </div>
        <div class="col-md-6 pl-0">
          <input type="text" class="form-control" placeholder="Phone Number" required />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light mr-2" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary mr-2 bg-primary">Add User</button>
  </div>
</ng-template>
