.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  .card-body{
    border-top: 3px solid #169EEC;
	border-radius: 5px 0 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	padding: 33px 33px 15px;
}
.border{
    border-top: 3px solid darkgray;
}
.btn{
	background-color: #169EEC;
}
  /* input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
  }
  input:focus {
    border-color: black;
  }
  input:hover{
      border-color: black;
  }
  */