<app-home></app-home>
<section role="main" class="content-body content-body-modern">
    <div class="row page-header page-header-left-inline-breadcrumb">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <h4>Consultant List</h4>
                </div>
                <div class="col-md-4">
                    <button class="btn float-right" [routerLink]="['/NewConsultant']"><i class="fa fa-plus"> Add New
                            Consultant</i></button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row filter-cont">
                        <div class="col-md-6 pl-0">
                            <div class="pt-0">
                                <label class="font-weight-bold">Consultant Name :</label>
                                <input type="text" class="form-control" placeholder="Consultant Name" required />
                            </div>
                        </div>
                        <div class="col-md-3 pl-0">
                            <div class="pt-2 text-right">
                                <label class="required-field"></label><br>
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body border">
                    <div class="table-responsive">
                        <!-- <div *ngIf="isLoading" class="table-loader">
                            <img src="../../../../assets/img/loading.gif" width="100px" alt="loading" />
                        </div> -->
                        <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Consultant Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Active / Inactive</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="" title="Edit User Details" class="icon-a">
                                            <i class="fa fa-edit icons-size icon-margin"></i>
                                            <i class="fa fa-trash ml-2 icons-size icon-margin"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <!-- <td colspan="10" class="no-data-available text-center">No matching records found
                                    </td> -->
                                </tr>
                            <tbody>
                        </table>
                        <!-- <ngb-pagination
                            [pageSize]="itemsPerPage" [maxSize]="7" [rotate]="true"
                            [boundaryLinks]="true">
                        </ngb-paginationms> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>