<section class="body-sign">
  <div class="center-sign">
    <a href="http://preview.oklerthemes.com/" class="logo float-left">
      <img src="assets/img/vga-logo.png" height="80" alt="Porto Admin" class="logo-image" width="100" />
    </a>

    <div class="panel card-sign">
      <div class="card-title-sign mt-3 text-right">
        <h2 class="title text-uppercase m-0">
          <i class="fas fa-user mr-1"></i> Sign In
        </h2>
      </div>

      <div class="card-body">
        <form class="login-form form" id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-warning alert-dismissible fade show text-center" [ngClass]="{ 'd-none': !error }"
            role="alert">
            <strong> Invalid Login </strong>
          </div>
          <div class="form-group mb-3"
            [ngClass]="{ 'has-error': !loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
            <label>Username</label>
            <div class="input-group">
              <input name="username" type="text" class="form-control floating-input input-border-bottom pl-1 pr-1"
                id="loginEmail" formControlName="username" autofocus />
              <span class="input-group-append">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </span>
              <!-- <div class="col-md-12">
                    <label class="error" for="loginEmail" *ngIf="submitted && f.username.errors">
                        Please enter a valid email address.</label>
                </div> -->
            </div>
            <div *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].touched">
              <div *ngIf="loginForm.controls['username'].hasError('required')" class="text-danger">
                Username is required</div>
              <div *ngIf="loginForm.controls['username'].hasError('username')" class="text-danger">
                Please enter valid Username
              </div>
            </div>
          </div>

          <div class="form-group mb-3"
            [ngClass]="{ 'has-error': !loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
            <div class="clearfix">
              <label class="float-left">Password</label>
              <a [routerLink]="['/forgot-password']" class="float-right text">Lost Password?</a>
            </div>
            <div class="input-group" [ngClass]="{'error-cont':(submitted || f.password.touched) && f.password.errors}">
              <input name="password" class="form-control form-control-lg" id="password" formControlName="password"
                [type]="passwordHidden ? 'password' : 'text'" />
              <span class="input-group-append">
                <span class="input-group-text show-password">
                  <!-- <i class="fas fa-lock"></i> -->
                  <i class="far" (click)="togglePassword()" [ngClass]="{
                      'fa-eye': !passwordHidden,
                      'fa-eye-slash': passwordHidden
                    }"></i>
                </span>
              </span>
              <!-- <div class="show-password">
                                <i class="far" (click)="togglePassword()" [ngClass]="{'fa-eye': !passwordHidden, 'fa-eye-slash': passwordHidden}"></i>
                            </div> -->
            </div>
            <div class="text-danger"
              *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched ">
              Password is required
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <div class="checkbox-custom checkbox-default">
                <input id="RememberMe" name="rememberme" type="checkbox" />
                <label for="RememberMe">Remember Me</label>
              </div>
            </div>
            <div class="col-sm-4 text-right">
              <button type="submit" class="btn btn-primary mt-2" data-loading-text="Signing In.." data-loading=""
                data-text="" id="signin">
                Sign In
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
