<app-home></app-home>
<section role="main" class="content-body content-body-modern" style="margin-top: -48%;">
    <div class="row page-header page-header-left-inline-breadcrumb" style="position: initial;">
        <div class="col-md-12">
            <h4>New Client</h4>
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <form [formGroup]="clientMasterForm" (ngSubmit)="onSubmit()">
                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">

                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['clientName'].valid && clientMasterForm.controls['clientName'].touched}">
                                        <label class="required-field font-weight-bold">Client Name</label>
                                        <input type="text" formControlName="clientName" class="form-control"
                                            placeholder="Company Name" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['clientName'].hasError('required') && clientMasterForm.controls['clientName'].touched ">
                                            Company name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['mobileNumber'].valid && clientMasterForm.controls['mobileNumber'].touched}">
                                        <label class="required-field font-weight-bold">Mobile</label>
                                        <input type="number" formControlName="mobileNumber" class="form-control"
                                            placeholder="Mobile" required />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['mobileNumber'].hasError('required') && clientMasterForm.controls['mobileNumber'].touched ">
                                            Mobile number is required
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['mobileNumber'].hasError('minlength') && !clientMasterForm.controls['mobileNumber'].hasError('pattern') && clientMasterForm.controls['mobileNumber'].touched ">
                                            Mobile must at list 10 digits
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['mobileNumber'].hasError('maxlength') && !clientMasterForm.controls['mobileNumber'].hasError('pattern') && clientMasterForm.controls['mobileNumber'].touched ">
                                            Mobile number not more than 13 digits
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['mobileNumber'].hasError('pattern') && clientMasterForm.controls['mobileNumber'].touched ">
                                            Please enter valid mobile number
                                        </div>
                                    </div>
                                </div>

                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <h4 style="margin-top: -3%;"><b>AMBAR PROTEIN INDUSTRIES LIMITED</b></h4>
                                    <input type="file" class="ml-4 border" name="fileupload" value="fileupload"
                                        id="fileupload">
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['companyName'].valid && clientMasterForm.controls['companyName'].touched}">
                                        <label class="required-field font-weight-bold">Company Name</label>
                                        <input type="text" formControlName="companyName" class="form-control"
                                            placeholder="Company Name" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['companyName'].hasError('required') && clientMasterForm.controls['companyName'].touched ">
                                            Company name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['address'].valid && clientMasterForm.controls['address'].touched}">
                                        <label class="required-field font-weight-bold">Address</label>
                                        <input type="text" formControlName="address" class="form-control"
                                            placeholder="address" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['address'].hasError('required') && clientMasterForm.controls['address'].touched ">
                                            Address is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['country'].valid && clientMasterForm.controls['country'].touched}">
                                        <label class="required-field font-weight-bold">Select Country</label>
                                        <select class="form-control" formControlName="country" name="country" required>
                                            <option value="">--Select country--</option>
                                            <option value="India">India</option>
                                            <option value="Canada">Canada</option>
                                            <option value="USA">USA</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['country'].hasError('required') && clientMasterForm.controls['country'].touched ">
                                            Country is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field font-weight-bold">Select State</label>
                                        <select class="form-control" formControlName="state" name="state" required>
                                            <option value="">--Select state--</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['state'].hasError('required') && clientMasterForm.controls['state'].touched ">
                                            State is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field font-weight-bold">Select City</label>
                                        <select class="form-control" formControlName="city" name="city" required>
                                            <option value="">--Select city--</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['city'].hasError('required') && clientMasterForm.controls['city'].touched ">
                                            City is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['zip'].valid && clientMasterForm.controls['zip'].touched}">
                                        <label class="required-field font-weight-bold">Zip</label>
                                        <input type="number" formControlName="zip" class="form-control"
                                            placeholder="Zip" required />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['zip'].hasError('required') && clientMasterForm.controls['zip'].touched ">
                                            Zip is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['website'].valid && clientMasterForm.controls['website'].touched}">
                                        <label class="required-field font-weight-bold">Website</label>
                                        <input type="text" formControlName="website" class="form-control"
                                            placeholder="website" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['website'].hasError('required') && clientMasterForm.controls['website'].touched ">
                                            Website is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPerson'].valid && clientMasterForm.controls['contactPerson'].touched}">
                                        <label class="required-field font-weight-bold">Contact Person</label>
                                        <input type="text" formControlName="contactPerson" class="form-control"
                                            placeholder="contact person" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['contactPerson'].hasError('required') && clientMasterForm.controls['contactPerson'].touched ">
                                            Contact Person is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPersonDesignation'].valid && clientMasterForm.controls['contactPersonDesignation'].touched}">
                                        <label class="required-field font-weight-bold">Contact Person
                                            Designation</label>
                                        <input type="text" formControlName="contactPersonDesignation"
                                            class="form-control" placeholder="contact person designation" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['contactPersonDesignation'].hasError('required') && clientMasterForm.controls['contactPersonDesignation'].touched ">
                                            Contact Person designation is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPersonPhone'].valid && clientMasterForm.controls['contactPersonPhone'].touched}">
                                        <label class="required-field font-weight-bold">Contact Person Phone</label>
                                        <input type="number" formControlName="contactPersonPhone" class="form-control"
                                            placeholder="contact person phone" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['contactPersonPhone'].hasError('required') && clientMasterForm.controls['contactPersonPhone'].touched ">
                                            Contact Person number is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPersonEmail'].valid && clientMasterForm.controls['contactPersonEmail'].touched}">
                                        <label class="required-field font-weight-bold">Contact Person Email</label>
                                        <input type="text" formControlName="contactPersonEmail" class="form-control"
                                            placeholder="contact person email" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['contactPersonEmail'].hasError('required') && clientMasterForm.controls['contactPersonEmail'].touched ">
                                            Contact Person email is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPerson'].valid && clientMasterForm.controls['chiefPerson'].touched}">
                                        <label class="required-field font-weight-bold">Chief Person</label>
                                        <input type="text" formControlName="chiefPerson" class="form-control"
                                            placeholder="chief person" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['chiefPerson'].hasError('required') && clientMasterForm.controls['chiefPerson'].touched ">
                                            Chief Person is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPersonDesignation'].valid && clientMasterForm.controls['chiefPersonDesignation'].touched}">
                                        <label class="required-field font-weight-bold">Chief Person Designation</label>
                                        <input type="text" formControlName="chiefPersonDesignation" class="form-control"
                                            placeholder="chief person" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['chiefPersonDesignation'].hasError('required') && clientMasterForm.controls['chiefPersonDesignation'].touched ">
                                            Chief Person Designation is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPersonPhone'].valid && clientMasterForm.controls['chiefPersonPhone'].touched}">
                                        <label class="required-field font-weight-bold">Chief Person Phone</label>
                                        <input type="number" formControlName="chiefPersonPhone" class="form-control"
                                            placeholder="chief person phone" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['chiefPersonPhone'].hasError('required') && clientMasterForm.controls['chiefPersonPhone'].touched ">
                                            Chief Person phone is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPersonEmail'].valid && clientMasterForm.controls['chiefPersonEmail'].touched}">
                                        <label class="required-field font-weight-bold">Chief Person Email</label>
                                        <input type="text" formControlName="chiefPersonEmail" class="form-control"
                                            placeholder="chief person phone" />
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['chiefPersonEmail'].hasError('required') && clientMasterForm.controls['chiefPersonEmail'].touched ">
                                            Chief Person email is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['industryType'].valid && clientMasterForm.controls['industryType'].touched}">
                                        <label class="required-field font-weight-bold">Industry type</label>
                                        <select class="form-control" formControlName="industryType" required>
                                            <option value="">--Select Industry type--</option>
                                            <option value="Manufacturing">Manufacturing</option>
                                            <option value="Service">Service</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['industryType'].hasError('required') && clientMasterForm.controls['industryType'].touched ">
                                            Industry type is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['processType'].valid && clientMasterForm.controls['processType'].touched}">
                                        <label class="required-field font-weight-bold">Process Type</label>
                                        <select class="form-control" formControlName="processType" required>
                                            <option value="">--Select Process type--</option>
                                            <option value="Customer Centric">Customer Centric</option>
                                            <option value="Industry Centric">Industry Centric</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['processType'].hasError('required') && clientMasterForm.controls['processType'].touched ">
                                            Process type is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['customerType'].valid && clientMasterForm.controls['customerType'].touched}">
                                        <label class="required-field font-weight-bold">Customer Type</label>
                                        <select class="form-control" formControlName="customerType" required>
                                            <option value="">--Select customer type--</option>
                                            <option value="Wholesale">Wholesale</option>
                                            <option value="Retail">Retail</option>
                                            <option value="Cooperate">Cooperate</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['customerType'].hasError('required') && clientMasterForm.controls['customerType'].touched ">
                                            Customer type is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['businessScale'].valid && clientMasterForm.controls['businessScale'].touched}">
                                        <label class="required-field font-weight-bold">Business Scale</label>
                                        <select class="form-control" formControlName="businessScale" required>
                                            <option value="">--Select business scale--</option>
                                            <option value="Micro">Micro</option>
                                            <option value="Small">Small</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Large">Large</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['businessScale'].hasError('required') && clientMasterForm.controls['businessScale'].touched ">
                                            Business scale is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['ownershipType'].valid && clientMasterForm.controls['ownershipType'].touched}">
                                        <label class="required-field font-weight-bold">Ownership Type</label>
                                        <select class="form-control" formControlName="ownershipType" required>
                                            <option value="">--Select ownership type--</option>
                                            <option value="HUF">HUF</option>
                                            <option value="Public">Public</option>
                                            <option value="Proprietor">Proprietor</option>
                                            <option value="Partnership">Partnership</option>
                                            <option value="Company">Company</option>
                                            <option value="Cooperative">Cooperative</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['ownershipType'].hasError('required') && clientMasterForm.controls['ownershipType'].touched ">
                                            Ownership type is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['businessNature'].valid && clientMasterForm.controls['businessNature'].touched}">
                                        <label class="required-field font-weight-bold">Business Nature</label>
                                        <select class="form-control" formControlName="businessNature" required>
                                            <option value="">--Select business nature--</option>
                                            <option value="Manufacturing">Manufacturing</option>
                                            <option value="Services">Service</option>
                                            <option value="Trading">Trading</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['businessNature'].hasError('required') && clientMasterForm.controls['businessNature'].touched ">
                                            Business nature is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['marketType'].valid && clientMasterForm.controls['marketType'].touched}">
                                        <label class="required-field font-weight-bold">Market Type</label>
                                        <select class="form-control" formControlName="marketType" required>
                                            <option value="">--Select market type--</option>
                                            <option value="Local">Local</option>
                                            <option value="National">National</option>
                                            <option value="International">International</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['marketType'].hasError('required') && clientMasterForm.controls['marketType'].touched ">
                                            Market type is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['intensity'].valid && clientMasterForm.controls['intensity'].touched}">
                                        <label class="required-field font-weight-bold">Intensity</label>
                                        <select class="form-control" formControlName="intensity" required>
                                            <option value="">--Select intensity--</option>
                                            <option value="Capital">Capital</option>
                                            <option value="Labour">Labour</option>
                                            <option value="Mixed">Mixed</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['intensity'].hasError('required') && clientMasterForm.controls['intensity'].touched ">
                                            Intensity is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['coreDrivingForce'].valid && clientMasterForm.controls['coreDrivingForce'].touched}">
                                        <label class="required-field font-weight-bold">Core Driving Force</label>
                                        <select class="form-control" formControlName="coreDrivingForce" required>
                                            <option value="">--Select Core Driving Force--</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['coreDrivingForce'].hasError('required') && clientMasterForm.controls['coreDrivingForce'].touched ">
                                            Core driving force is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['moderateDrivingForce'].valid && clientMasterForm.controls['moderateDrivingForce'].touched}">
                                        <label class="required-field font-weight-bold">Moderate Driving
                                            Force</label>
                                        <select class="form-control" formControlName="moderateDrivingForce" required>
                                            <option value="">--Select Moderate Driving Force--</option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['moderateDrivingForce'].hasError('required') && clientMasterForm.controls['moderateDrivingForce'].touched ">
                                            Moderate driving force is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['minorDrivingForce'].valid && clientMasterForm.controls['minorDrivingForce'].touched}">
                                        <label class="required-field font-weight-bold">Minor Driving
                                            Force</label>
                                        <select class="form-control" formControlName="minorDrivingForce" required>
                                            <option value="">--Select Minor Driving Force--</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['minorDrivingForce'].hasError('required') && clientMasterForm.controls['minorDrivingForce'].touched ">
                                            Minor driving force is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['coreCompetence'].valid && clientMasterForm.controls['coreCompetence'].touched}">
                                        <label class="required-field font-weight-bold">Core Competence</label>
                                        <select class="form-control" formControlName="coreCompetence" required>
                                            <option value="">--Select Core Competence--</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['coreCompetence'].hasError('required') && clientMasterForm.controls['coreCompetence'].touched ">
                                            Core competance is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['moderateCompetence'].valid && clientMasterForm.controls['moderateCompetence'].touched}">
                                        <label class="required-field font-weight-bold">Moderate
                                            Competence</label>
                                        <select class="form-control" formControlName="moderateCompetence" required>
                                            <option value="">--Select moderate Competence--</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['moderateCompetence'].hasError('required') && clientMasterForm.controls['moderateCompetence'].touched ">
                                            Moderate competance is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['minorCompetence'].valid && clientMasterForm.controls['minorCompetence'].touched}">
                                        <label class="required-field font-weight-bold">Minor Competence</label>
                                        <select class="form-control" formControlName="minorCompetence" required>
                                            <option value="">--Select minor Competence--</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['minorCompetence'].hasError('required') && clientMasterForm.controls['minorCompetence'].touched ">
                                            Minor competance is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0"
                                        [ngClass]="{ 'has-error': !clientMasterForm.controls['profitabilityStatus'].valid && clientMasterForm.controls['profitabilityStatus'].touched}">
                                        <label class="required-field font-weight-bold">Profitability
                                            Status</label>
                                        <select class="form-control" formControlName="profitabilityStatus" required>
                                            <option value="">--Select profitability status--</option>
                                        </select>

                                        <div class="text-danger"
                                            *ngIf="clientMasterForm.controls['profitabilityStatus'].hasError('required') && clientMasterForm.controls['profitabilityStatus'].touched ">
                                            Profitability status is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">

                                </div>
                                <div class="col-md-4 pl-0">

                                </div>
                            </div><br />

                            <div class="float-right">
                                <button type="submit" class="btn">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>