.btn{
    background-color: #169EEC;
    color: white;
    margin-left: 10px;
    margin-top: 3px;
}

.card-body{
    border-top: 3px solid #169EEC;
	border-radius: 5px 0 5px 5px;
}

.required-field:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
  }