<app-home></app-home>
<section role="main" class="content-body content-body-modern">
    <div class="row page-header page-header-left-inline-breadcrumb">
        <div class="col-md-12">
            <h4>New Consultant</h4>
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <form [formGroup]="consultantForm" (ngSubmit)="onSubmit()">
                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="pt-0">
                                        <label class="font-weight-bold required-field">Company Name</label>
                                        <select class="form-control" formControlName="companyName" name="">
                                            <option value="">Select Company Name</option>
                                            <option value="Mr.">EmpowerD</option>
                                            <option value="Ms.">CoodeIT solutions Pvt Ltd</option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['companyName'].hasError('required') && consultantForm.controls['companyName'].touched ">
                                            Company Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field font-weight-bold">Consultant Name</label>
                                        <input type="text" formControlName="consultantName" class="form-control"
                                            placeholder="Consultant Name" required />
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['consultantName'].hasError('required') && consultantForm.controls['consultantName'].touched ">
                                            Consultant Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="pt-0">
                                        <label class="font-weight-bold required-field">Address</label>
                                        <input type="text" formControlName="address" class="form-control"
                                            placeholder="Address" required />
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['address'].hasError('required') && consultantForm.controls['address'].touched ">
                                            Address is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field font-weight-bold">Country</label>
                                        <select class="form-control" formControlName="country" name="">
                                            <option value="">Select Country</option>
                                            <option value="India">India</option>
                                            <option value="Canada">Canada</option>
                                            <option value="USA">USA</option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['country'].hasError('required') && consultantForm.controls['country'].touched ">
                                            Country is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="pt-0">
                                        <label class="font-weight-bold required-field">State</label>
                                        <select class="form-control" formControlName="state" name="">
                                            <option value="">Select State</option>
                                            <option value="Gujarat">India</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['state'].hasError('required') && consultantForm.controls['state'].touched ">
                                            State is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field font-weight-bold">City</label>
                                        <select class="form-control" formControlName="city" name="">
                                            <option value="">Select City</option>
                                            <option value="Ahmedabad">Ahmedabad</option>
                                            <option value="Mumbai">Mumbai</option>
                                            <option value="Banglore">Banglore</option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['city'].hasError('required') && consultantForm.controls['city'].touched ">
                                            City is required
                                        </div>
                                    </div>
                                </div>
                            </div><br />

                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="pt-0">
                                        <label class="font-weight-bold required-field">Zip</label>
                                        <input type="text" formControlName="zipCode" class="form-control"
                                            placeholder="Zip" required />
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['zipCode'].hasError('required') && consultantForm.controls['zipCode'].touched ">
                                            Zip Code is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field font-weight-bold">Phone</label>
                                        <input type="text" formControlName="phone" class="form-control"
                                            placeholder="Phone" required />
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['phone'].hasError('required') && consultantForm.controls['phone'].touched ">
                                            Phone is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="pt-0">
                                        <label class="font-weight-bold required-field">Email</label>
                                        <input type="text" formControlName="email" class="form-control"
                                            placeholder="Email" required />
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['email'].hasError('required') && consultantForm.controls['email'].touched ">
                                            Email is required
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <hr>

                            <div class="float-right">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>