<app-home></app-home>
<section role="main" class="content-body content-body-modern">
    <div class="row page-header page-header-left-inline-breadcrumb">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <div class="row filter-cont">
                                <div class="col-md-6 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field">Select Account</label>
                                        <select class="form-control" name="">
                                            <option value="">Select Account</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-0">
                                    <div class="pt-0">
                                        <label>Select Role</label>
                                        <select class="form-control" name="">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>