<section class="body-sign">
  <div class="center-sign">
    <a href="http://preview.oklerthemes.com/" class="logo float-left">
      <img
        src="assets/img/vga-logo.png"
        height="80"
        width="100"
        alt="Porto Admin"
      />
    </a>

    <div class="panel card-sign mr-1">
      <div class="card-title-sign mt-3 text-right">
        <h2 class="title text-uppercase font-weight-bold m-0">
          <i class="fas fa-user mr-1"></i>
        </h2>
      </div>
      <div class="card-body">
        <form
          class="login-form form"
          id="changePasswordForm"
          [formGroup]="changePasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <div
            class="alert alert-success alert-dismissible fade show text-center"
            *ngIf="showMsg"
            role="alert"
          >
            <strong>{{ successMessage }}</strong>
          </div>
          <div
            class="form-group pt-0"
            [ngClass]="{
              'has-error':
                !changePasswordForm.controls['password'].valid &&
                changePasswordForm.controls['password'].touched
            }"
          >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="New Password"
              required
            />
            <div
              class="ml-5 alert alert-danger"
              *ngIf="
                changePasswordForm.controls['password'].hasError('required') &&
                changePasswordForm.controls['password'].touched
              "
            >
              Password is required
            </div>
            <div
              class="ml-5 alert alert-danger"
              *ngIf="
                changePasswordForm.controls['password'].hasError('minlength') &&
                changePasswordForm.controls['password'].touched
              "
            >
              Password must at list 6 characters
            </div>
          </div>

          <div
            class="form-group pt-0"
            [ngClass]="{
              'has-error':
                !changePasswordForm.controls['confirmPassword'].valid &&
                changePasswordForm.controls['confirmPassword'].touched
            }"
          >
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Password for cofirmation"
              required
            />
            <div
              class="ml-5 alert alert-danger"
              *ngIf="
                changePasswordForm.controls['confirmPassword'].hasError(
                  'required'
                ) && changePasswordForm.controls['confirmPassword'].touched
              "
            >
              Confirm password is required
            </div>
            <div
              class="ml-5 alert alert-danger"
              *ngIf="
                changePasswordForm.controls['confirmPassword'].hasError(
                  'ConfirmPassword'
                ) && changePasswordForm.controls['confirmPassword'].touched
              "
            >
              Passsword and ConfirmPassword didn't match.
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 text-right">
              <button type="submit" class="btn btn-primary mt-2" [disabled]="!changePasswordForm.valid">
                Change Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
