<app-home></app-home>
<section role="main" class="content-body content-body-modern" style="margin-top: -48%;">
  <div class="row page-header page-header-left-inline-breadcrumb" style="position: initial;">
    <div class="col-md-12">
      <h4>New Employee</h4>
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Employee Title</label>
                    <select class="form-control" formControlName="empTitle" name="">
                      <option value="">Select Employee Title</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Ms.">Ms.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Miss">Miss</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['empTitle'].hasError('required') && employeeForm.controls['empTitle'].touched ">
                      Employee title is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Employee Name</label>
                    <input type="text" formControlName="empName" class="form-control" placeholder="Employee Name"
                      required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['empName'].hasError('required') && employeeForm.controls['empName'].touched ">
                      Employee name is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Employee Level</label>
                    <select class="form-control" formControlName="empLevel" name="">
                      <option value="">Select Employee Level</option>
                      <option value="Top Level">Top Level</option>
                      <option value="Managerial Level">Managerial Level</option>
                      <option value="Executive Level">Executive Level</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['empLevel'].hasError('required') && employeeForm.controls['empLevel'].touched ">
                      Employee level is required
                    </div>
                  </div>
                </div>
                <div class="col-md-5 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Designation</label>
                    <select class="form-control" formControlName="designation" name="">
                      <option value="">Select Designation</option>
                      <option value="Business Development">Business Development</option>
                      <option value="On Site Consultant">On Site Consultant</option>
                      <option value="Promotor">Promotor</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['designation'].hasError('required') && employeeForm.controls['designation'].touched ">
                      Designation is required
                    </div>
                  </div>
                </div>
                <div class="col-md-1 pl-0 mt-4">
                  <button type="button" class="btn" (click)="editDesignation(content)"><i
                      class="fa fa-plus"></i></button>
                  <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">New Designation</h4><br><br>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row filter-cont">
                          <div class="col-md-6 pl-0">
                            <label class="font-weight-bold mt-2">Add New Designation</label>
                          </div>
                          <div class="col-md-6 pl-0">
                            <div class="pt-0">
                              <input type="text" formControlName="designation" class="form-control" required />
                            </div>
                          </div>
                        </div><br>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn mr-2">Submit</button>
                      <button type="button" class="btn btn-light bg-light text-dark mr-2"
                        (click)="modal.close('Close click')">Close</button>
                    </div>
                  </ng-template>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-5 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Department / Division</label>
                    <select class="form-control" formControlName="deptDiv" name="">
                      <option value="">Select Department / Division</option>
                      <option value="Production / Operations">Production / Operations</option>
                      <option value="Marketing / Sales">Marketing / Sales</option>
                      <option value="Genaral Management">General Management</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['deptDiv'].hasError('required') && employeeForm.controls['deptDiv'].touched ">
                      Department / Division is required
                    </div>
                  </div>
                </div>
                <div class="col-md-1 pl-0 mt-4">
                  <button type="button" class="btn" (click)="editDepartment(content)"><i
                      class="fa fa-plus"></i></button>
                  <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">New Department / Division</h4><br><br>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row filter-cont">
                          <div class="col-md-6 pl-0">
                            <label class="font-weight-bold mt-2">Add New Department /
                              Division</label>
                          </div>
                          <div class="col-md-6 pl-0">
                            <div class="pt-0">
                              <input type="text" formControlName="deptDiv" class="form-control" required />
                            </div>
                          </div>
                        </div><br>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn mr-2">Submit</button>
                      <button type="button" class="btn btn-light bg-light text-dark mr-2"
                        (click)="modal.close('Close click')">Close</button>
                    </div>
                  </ng-template>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Reporting To</label>
                    <select class="form-control" formControlName="reportingTo" name="">
                      <option value="">Select Reporting To</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['reportingTo'].hasError('required') && employeeForm.controls['reportingTo'].touched ">
                      Reporting to is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Email Address</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email Address"
                      required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['email'].hasError('required') && employeeForm.controls['email'].touched ">
                      Email address is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Mobile Number</label>
                    <input type="text" formControlName="mobileNumber" class="form-control" placeholder="Mobile Number"
                      required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('required') && employeeForm.controls['mobileNumber'].touched ">
                      Mobile number is required
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('minlength') && !employeeForm.controls['mobileNumber'].hasError('pattern') && employeeForm.controls['mobileNumber'].touched ">
                      Mobile must at list 10 digits
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('maxlength') && !employeeForm.controls['mobileNumber'].hasError('pattern') && employeeForm.controls['mobileNumber'].touched ">
                      Mobile number not more than 13 digits
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('pattern') && employeeForm.controls['mobileNumber'].touched ">
                      Please enter valid mobile number
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Address</label>
                    <input type="text" formControlName="address" class="form-control" placeholder="Address" required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['address'].hasError('required') && employeeForm.controls['address'].touched ">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Country</label>
                    <select class="form-control" formControlName="country" name="">
                      <option value="">Select Country</option>
                      <option value="India">India</option>
                      <option value="Canada">Canada</option>
                      <option value="USA">USA</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['country'].hasError('required') && employeeForm.controls['country'].touched ">
                      Country is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">State</label>
                    <select class="form-control" formControlName="state" name="">
                      <option value="">Select State</option>
                      <option value="Gujarat">India</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Maharashtra">Maharashtra</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['state'].hasError('required') && employeeForm.controls['state'].touched ">
                      State is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">City</label>
                    <select class="form-control" formControlName="city" name="">
                      <option value="">Select City</option>
                      <option value="Ahmedabad">Ahmedabad</option>
                      <option value="Mumbai">Mumbai</option>
                      <option value="Banglore">Banglore</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['city'].hasError('required') && employeeForm.controls['city'].touched ">
                      City is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Zip Code</label>
                    <input type="text" formControlName="zipCode" class="form-control" placeholder="Zip Code" required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['zipCode'].hasError('required') && employeeForm.controls['zipCode'].touched ">
                      Zip Code is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">

                </div>
              </div><br />
              <hr>

              <div class="float-right">
                <button type="submit" class="btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
