<section class="body-sign body-locked">
    <div class="center-sign">
        <div class="panel card-sign">
            <div class="card-body">
                <form action="http://preview.oklerthemes.com/porto-admin/3.0.0/index.html">
                    <div class="current-user text-center">
                        <img src="assets/img/%21logged-user.jpg" alt="John Doe" class="rounded-circle user-image" />
                        <h2 class="user-name text-dark m-0">John Doe</h2>
                        <p class="user-email m-0">johndoe@okler.com</p>
                    </div>
                    <div class="form-group mb-3">
                        <div class="input-group">
                            <input id="pwd" type="password" class="form-control form-control-lg"
                                placeholder="Password" />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p class="mt-1 mb-3">
                                <a href="#">Not John Doe?</a>
                            </p>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary pull-right">Unlock</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>