<section class="body-sign">
  <div class="center-sign">
    <a href="http://preview.oklerthemes.com/" class="logo float-left">
      <img
        src="assets/img/vga-logo.png"
        height="80"
        width="100"
        alt="Porto Admin"
      />
    </a>

    <div class="panel card-sign">
      <div class="card-title-sign mt-3 text-right">
        <h2 class="title text-uppercase font-weight-bold m-0">
          <i class="fas fa-user mr-1"></i>
          Recover Password
        </h2>
      </div>
      <div class="card-body">
        <!-- <div class="alert alert-info">
                    <p class="m-0">Enter your e-mail below and we will send you reset instructions!</p>
                </div> -->

        <form
          [formGroup]="forgotPasswordForm"
          id="forgotPasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <div
            class="alert alert-success text-center"
            *ngIf="showMsg"
            role="alert"
          >
            <strong>{{ successMessage }}</strong>
          </div>
          <div class="form-group mb-0"
          [ngClass]="{ 'has-error': !forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched}">
            <div class="input-group">
              <input
                id="forgotEmail"
                formControlName="email"
                type="email"
                class="form-control input-border-bottom floating-input pl-1 pr-1 filled"
                required
                placeholder="Enter your email"
              />
              <span class="input-group-append">
                <button
                  class="btn btn-primary btn-lg"
                  type="submit"
                  data-loading-text="Checking.."
                  data-loading=""
                  data-text=""
                  id="forgotButton"
                  [disabled]="!forgotPasswordForm.valid"
                >
                  Reset!
                </button>
              </span>
            </div>
            <div *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].touched">
              <div *ngIf="forgotPasswordForm.controls['email'].hasError('required')" class="text-danger">
                Please enter valid email</div>
            </div>
          </div>

          <p class="text-center mt-3">
            Remembered?
            <a class="text" [routerLink]="['/signin']">SignIn!</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
