<app-home></app-home>
<section role="main" class="content-body content-body-modern">
    <div class="row page-header page-header-left-inline-breadcrumb">
        <div class="col-md-12">
            <h4>Organizational Overview</h4>
            <div class="centered d-flex justify-content-center">
                <ul class="orgchart">
                    <li class="root">
                        <div class="nodecontent color">Top level</div>
                        <ul>
                            <li>
                                <div class="nodecontent color-2">Managerial level</div>
                                <ul>
                                    <li class="leaf">
                                        <div class="nodecontent color-3">Amit Prajapati</div>
                                    </li>
                                    <li class="leaf">
                                        <div class="nodecontent color-3">Jaimin Belani</div>
                                    </li>
                                </ul>
                                
                            </li>
                            <li class="leaf">
                                <div class="nodecontent color-2">Executive level</div>
                                <ul>
                                    <li class="leaf">
                                        <div class="nodecontent color-3">Pankti Bhavsar</div>
                                    </li>
                                    <li class="leaf">
                                        <div class="nodecontent color-3">Shivangi Hingu</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            
        </div>
    </div>
</section>