<app-home></app-home>
<section role="main" class="content-body content-body-modern">
  <div class="row page-header page-header-left-inline-breadcrumb">
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-warning">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">77</strong></h4>
                <div class="info">
                  <h4>Employee</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-user far fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-danger">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">7</strong></h4>
                <div class="info">
                  <h4>VGA Reports</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-success">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">10</strong></h4>
                <div class="info">
                  <h4>Clients</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-info">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">20</strong></h4>
                <div class="info">
                  <h4>Consultants</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</section>