<app-home></app-home>
<section role="main" class="content-body content-body-modern">
  <div class="row page-header page-header-left-inline-breadcrumb">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h3>Manage Accounts</h3>
        </div>
        <div class="col-md-4">
          <button class="btn btn-user float-right text-white" (click)="addAcoount(content)"><i
              class="fa fa-plus text-white"> Add
              New
              Account</i></button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row filter-cont">
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label>Parent Account</label>
                <input type="text" class="form-control" placeholder="Parent Account" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="form-group pt-0">
                <label class="required-field">Account Type</label>
                <select class="form-control" name="">
                  <option value="">Account Type</option>
                </select>
              </div>
            </div>

            <div class="col-md-3 pl-0">
              <div class="pt-4 text-right">
                <button class="btn btn-user text-white">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body border">
          <div class="table-responsive">
            <!-- <div *ngIf="isLoading" class="table-loader">
                            <img src="../../../../assets/img/loading.gif" width="100px" alt="loading" />
                        </div> -->
            <table class="display table table-responsive table-hover w-100 table-head-bg-secondary" width="100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Logo</th>
                  <th>Name</th>
                  <th>Parent Account</th>
                  <th>Account Type</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody style="height:400px;overflow:scroll;">
                <tr *ngFor="let accountObj of _accountDetail$; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td><img src="assets/img/vga-logo.png" class="logo"></td>
                  <td>{{ accountObj.name }}</td>
                  <td>{{ _get_ParentAccountName(accountObj.parent_account_id) }}</td>
                  <td></td>
                  <td>
                    <a href="" title="Edit User Details" class="icon-a">
                      <i class="fa fa-edit icons-size icon-margin"></i>
                      <i class="fa fa-trash ml-2 icons-size icon-margin"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <!-- <td colspan="10" class="no-data-available text-center">No matching records found
                                    </td> -->
                </tr>
              <tbody>
            </table>
            <!-- <ngb-pagination
                            [pageSize]="itemsPerPage" [maxSize]="7" [rotate]="true"
                            [boundaryLinks]="true">
                        </ngb-paginationms> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Account</h4><br><br>
    <button type="button" class="close btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="row filter-cont form-group">
          <div class="col-md-12">
            <input type="text" formControlName="name" class="form-control" placeholder="Name" required />
            <div class="text-danger"
              *ngIf="accountForm.controls['name'].hasError('required') && accountForm.controls['name'].touched ">
              Name is required
            </div>
          </div>
        </div>
        <div class="row mt-3 form-group">
          <div class="col-md-12">
            <input type="text" formControlName="description" class="form-control" placeholder="Description" required />
            <div class="text-danger"
              *ngIf="accountForm.controls['description'].hasError('required') && accountForm.controls['description'].touched ">
              Description is required
            </div>
          </div>
        </div>
        <div class="row mt-3 filter-cont form-group">
          <div class="col-md-12">
            <input type="text" formControlName="email" class="form-control" placeholder="Email" required />
            <div class="text-danger"
              *ngIf="accountForm.controls['email'].hasError('required') && accountForm.controls['email'].touched ">
              Email is required
            </div>
          </div>
        </div>
        <div class="row mt-3 form-group">
          <div class="col-md-12">
            <input type="text" formControlName="phone" class="form-control" placeholder="Phone Number" required />
            <div class="text-danger"
              *ngIf="accountForm.controls['phone'].hasError('required') && accountForm.controls['phone'].touched ">
              Mobile number is required
            </div>
          </div>
        </div>
        <div class="row mt-3 form-group">
          <div class="col-md-12">
            <select class="form-control" formControlName="parent_account_id" (change)="parent($event)" required>
              <option value="" selected disabled>Parent Account</option>
              <option [value]="acc_obj.id" *ngFor="let acc_obj of _accountDetail$;let i=index;">{{acc_obj.name}}
              </option>
            </select>
            <div class="text-danger"
              *ngIf="accountForm.controls['parent_account_id'].hasError('required') && accountForm.controls['parent_account_id'].touched ">
              Parent account is required
            </div>
          </div>
        </div>
        <div class="row form-group">
          <button type="button" class="btn mr-2" (click)="modal.close('Close click')">Cancel</button>
          <button type="button" class="btn btn-user mr-2 text-white" (click)="onSubmit()">Add Account</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>
