.header .logo {
  background-color: white;
}

ul.nav-main li.nav-expanded>a {
  background-color: #1D2127;
}

ul.nav-main li .nav-children {
  background-color: #1D2127;
  padding: 1px;
}

.nano-content {
  background-color: #1D2127;
}

.sidebar-left .sidebar-header .sidebar-toggle {
  background-color: #1D2127;
}

.wrapper {
  display: flex;
  /* width: 100%; */
  align-items: stretch;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #1D2127;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1D2127;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #1D2127;
  background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
  color: #fff;
  /* background: #1D2127; */
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1D2127;
}

.sidebar-header {
  background-color: white;
}

.dd:focus {
  background-color: none;
}
