<header class="header header-nav-menu header-nav-links">
  <div class="logo-container">
    <a class="logo"><img src="assets/img/vga-logo.png" class="logo-image" width="80" height="35"
        alt="Porto Admin" /><img src="assets/img/vga-logo.png" class="logo-image-mobile" width="80" height="35"
        alt="Porto Admin" />
    </a>
    <!-- <button id="toggler" class="btn header-btn-collapse-nav d-lg-none" data-toggle="collapse" data-target=".header-nav"
      href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-bars"></i>
    </button> -->
    <div class="header-nav collapse">
      <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 header-nav-main-square">
        <nav>
          <ul class="nav nav-pills" id="mainNav">
            <li class="">
              <a class="nav-link" href="/dashboard"> Dashboard </a>
            </li>

            <!-- <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#"> Layouts </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="nav-link" href="index-2.html"> Landing Page </a>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-default.html"> Default </a>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link"> Boxed </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="layouts-boxed.html">
                          Static Header
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-boxed-fixed-header.html">
                          Fixed Header
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link"> Horizontal Menu Header </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="layouts-header-menu.html">
                          Pills
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-header-menu-stripe.html">
                          Stripe
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-header-menu-top-line.html">
                          Top Line
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-dark.html"> Dark </a>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-dark-header.html">
                      Dark Header
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-two-navigations.html">
                      Two Navigations
                    </a>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link"> Tab Navigation </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="layouts-tab-navigation-dark.html">
                          Tab Navigation Dark
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-tab-navigation.html">
                          Tab Navigation Light
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-tab-navigation-boxed.html">
                          Tab Navigation Boxed
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-light-sidebar.html">
                      Light Sidebar
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-left-sidebar-collapsed.html">
                      Left Sidebar Collapsed
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-left-sidebar-scroll.html">
                      Left Sidebar Scroll
                    </a>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link"> Left Sidebar Big Icons </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="layouts-left-sidebar-big-icons.html">
                          Left Sidebar Big Icons Dark
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-left-sidebar-big-icons-light.html">
                          Left Sidebar Big Icons Light
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link"> Left Sidebar Panel </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="layouts-left-sidebar-panel.html">
                          Left Sidebar Panel Dark
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-left-sidebar-panel-light.html">
                          Left Sidebar Panel Light
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link"> Left Sidebar Sizes </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="layouts-sidebar-sizes-xs.html">
                          Left Sidebar XS
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-sidebar-sizes-sm.html">
                          Left Sidebar SM
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="layouts-sidebar-sizes-md.html">
                          Left Sidebar MD
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="nav-link" href="layouts-square-borders.html">
                      Square Borders
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#"> Pages </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="nav-link" href="pages-lock-screen.html">
                      Locked Screen
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-user-profile.html">
                      User Profile
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-session-timeout.html">
                      Session Timeout
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-calendar.html"> Calendar </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-timeline.html"> Timeline </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-media-gallery.html">
                      Media Gallery
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-invoice.html"> Invoice </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-blank.html"> Blank Page </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-404.html"> 404 </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-500.html"> 500 </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-log-viewer.html">
                      Log Viewer
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="pages-search-results.html">
                      Search Results
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropdown-mega">
                <a class="nav-link dropdown-toggle" href="#">UI Elements</a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="dropdown-mega-content">
                      <div class="row">
                        <div class="col-lg-3">
                          <ul class="dropdown-mega-sub-nav">
                            <li>
                              <a class="nav-link" href="ui-elements-typography.html">
                                Typography
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="#">
                                Icons
                                <span class="mega-sub-nav-toggle toggled float-right" data-toggle="collapse"
                                  data-target=".mega-sub-nav-sub-menu-1"></span>
                              </a>
                              <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 collapse in">
                                <li>
                                  <a class="nav-link" href="ui-elements-icons-elusive.html">
                                    Elusive
                                  </a>
                                </li>
                                <li>
                                  <a class="nav-link" href="ui-elements-icons-font-awesome.html">
                                    Font Awesome
                                  </a>
                                </li>
                                <li>
                                  <a class="nav-link" href="ui-elements-icons-line-icons.html">
                                    Line Icons
                                  </a>
                                </li>
                                <li>
                                  <a class="nav-link" href="ui-elements-icons-meteocons.html">
                                    Meteocons
                                  </a>
                                </li>
                                <li>
                                  <a class="nav-link" href="ui-elements-icons-box-icons.html">
                                    Box Icons
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-tabs.html">
                                Tabs
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-cards.html">
                                Cards
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <ul class="dropdown-mega-sub-nav">
                            <li>
                              <a class="nav-link" href="ui-elements-widgets.html">
                                Widgets
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-portlets.html">
                                Portlets
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-buttons.html">
                                Buttons
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-alerts.html">
                                Alerts
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-notifications.html">
                                Notifications
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-modals.html">
                                Modals
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-lightbox.html">
                                Lightbox
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-progressbars.html">
                                Progress Bars
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <ul class="dropdown-mega-sub-nav">
                            <li>
                              <a class="nav-link" href="ui-elements-sliders.html">
                                Sliders
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-carousels.html">
                                Carousels
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-accordions.html">
                                Accordions
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-toggles.html">
                                Toggles
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-nestable.html">
                                Nestable
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-tree-view.html">
                                Tree View
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-scrollable.html">
                                Scrollable
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-grid-system.html">
                                Grid System
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <ul class="dropdown-mega-sub-nav">
                            <li>
                              <a class="nav-link" href="ui-elements-charts.html">
                                Charts
                              </a>
                            </li>
                            <li>
                              <a class="nav-link" href="#">
                                Animations
                                <span class="mega-sub-nav-toggle toggled float-right" data-toggle="collapse"
                                  data-target=".mega-sub-nav-sub-menu-2"></span>
                              </a>
                              <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-2 collapse">
                                <li>
                                  <a class="nav-link" href="ui-elements-animations-appear.html">
                                    Appear
                                  </a>
                                </li>
                                <li>
                                  <a class="nav-link" href="ui-elements-animations-hover.html">
                                    Hover
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a class="nav-link" href="#">
                                Loading
                                <span class="mega-sub-nav-toggle toggled float-right" data-toggle="collapse"
                                  data-target=".mega-sub-nav-sub-menu-3"></span>
                              </a>
                              <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-3 collapse">
                                <li>
                                  <a class="nav-link" href="ui-elements-loading-overlay.html">
                                    Overlay
                                  </a>
                                </li>
                                <li>
                                  <a class="nav-link" href="ui-elements-loading-progress.html">
                                    Progress
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a class="nav-link" href="ui-elements-extra.html">
                                Extra
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle">More</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a class="nav-link" href="#"> Maps </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="maps-google-maps.html">
                          Basic
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="maps-google-maps-builder.html">
                          Map Builder
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="maps-vector.html"> Vector </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="nav-link" href="extra-ajax-made-easy.html">
                      Ajax
                    </a>
                  </li>
                  <li class="dropdown">
                    <a class="nav-link" href="#"> eCommerce </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="ecommerce-dashboard.html">
                          Dashboard
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" [routerLink]="['/products-list']">
                          Products List
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-products-form.html">
                          Products Form
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-category-list.html">
                          Categories List
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-category-form.html">
                          Category Form
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-coupons-list.html">
                          Coupons List
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-coupons-form.html">
                          Coupons Form
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-orders-list.html">
                          Orders List
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-orders-detail.html">
                          Orders Detail
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-customers-list.html">
                          Customers List
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="ecommerce-customers-form.html">
                          Customers Form
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a class="nav-link" href="mailbox-folder.html">
                      Mailbox
                      <span class="float-right badge badge-primary">182</span>
                    </a>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link" href="#"> Forms </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="forms-basic.html"> Basic </a>
                      </li>
                      <li>
                        <a class="nav-link" href="forms-advanced.html">
                          Advanced
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="forms-validation.html">
                          Validation
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="forms-layouts.html">
                          Layouts
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="forms-wizard.html"> Wizard </a>
                      </li>
                      <li>
                        <a class="nav-link" href="forms-code-editor.html">
                          Code Editor
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link" href="#"> Tables </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link" href="tables-basic.html"> Basic </a>
                      </li>
                      <li>
                        <a class="nav-link" href="tables-advanced.html">
                          Advanced
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="tables-responsive.html">
                          Responsive
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="tables-editable.html">
                          Editable
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="tables-ajax.html"> Ajax </a>
                      </li>
                      <li>
                        <a class="nav-link" href="tables-pricing.html">
                          Pricing
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="nav-link" href="#"> Menu Levels </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link"> First Level </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="nav-link" href="#"> Second Level </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="nav-link"> Second Level Link #1 </a>
                          </li>
                          <li>
                            <a class="nav-link"> Second Level Link #2 </a>
                          </li>
                          <li class="dropdown-submenu">
                            <a class="nav-link" href="#"> Third Level </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a class="nav-link"> Third Level Link #1 </a>
                              </li>
                              <li>
                                <a class="nav-link"> Third Level Link #2 </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li> -->
          </ul>
        </nav>
      </div>
    </div>
    <!-- end: header nav menu -->
  </div>
  <div class="header-right">
    <a class="btn search-toggle d-none d-md-inline-block d-xl-none" data-toggle-class="active" data-target=".search"><i
        class="bx bx-search"></i></a>
    <!-- <form action="http://preview.oklerthemes.com/porto-admin/3.0.0/pages-search-results.html"
      class="search search-style-1 nav-form d-none d-xl-inline-block">
      <div class="input-group">
        <input type="text" class="form-control" name="q" id="q" placeholder="Search..." />
        <span class="input-group-append">
          <button class="btn btn-default" type="submit">
            <i class="bx bx-search"></i>
          </button>
        </span>
      </div>
    </form> -->

    <span class="separator"></span>
    <!-- <a class="dropdown-language nav-link" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img src="assets/img/blank.gif" class="flag flag-us" alt="English" /> EN
      <i class="fas fa-chevron-down"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
      <a class="dropdown-item" href="#"><img src="assets/img/blank.gif" class="flag flag-us" alt="English" />
        English</a>
      <a class="dropdown-item" href="#"><img src="assets/img/blank.gif" class="flag flag-es" alt="English" />
        Español</a>
      <a class="dropdown-item" href="#"><img src="assets/img/blank.gif" class="flag flag-fr" alt="English" />
        Française</a>
    </div>

    <span class="separator"></span> -->

    <ul class="notifications">
      <li>
        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
          <i class="bx bx-task"></i>
          <span class="badge">3</span>
        </a>

        <div class="dropdown-menu notification-menu large">
          <div class="notification-title">
            <span class="float-right badge badge-default">3</span>
            Tasks
          </div>

          <div class="content">
            <ul>
              <li>
                <p class="clearfix mb-1">
                  <span class="message float-left">Generating Sales Report</span>
                  <span class="message float-right text-dark">60%</span>
                </p>
                <div class="progress progress-xs light">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 60%"></div>
                </div>
              </li>

              <li>
                <p class="clearfix mb-1">
                  <span class="message float-left">Importing Contacts</span>
                  <span class="message float-right text-dark">98%</span>
                </p>
                <div class="progress progress-xs light">
                  <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"
                    style="width: 98%"></div>
                </div>
              </li>

              <li>
                <p class="clearfix mb-1">
                  <span class="message float-left">Uploading something big</span>
                  <span class="message float-right text-dark">33%</span>
                </p>
                <div class="progress progress-xs light mb-1">
                  <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"
                    style="width: 33%"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
          <i class="bx bx-envelope"></i>
          <span class="badge">4</span>
        </a>

        <div class="dropdown-menu notification-menu">
          <div class="notification-title">
            <span class="float-right badge badge-default">230</span>
            Messages
          </div>

          <div class="content">
            <ul>
              <li>
                <a href="#" class="clearfix">
                  <span class="image image-as-text">JD</span>
                  <span class="title">Joseph Doe</span>
                  <span class="message">Lorem ipsum dolor sit.</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <span class="image image-as-text bg-secondary">JJ</span>
                  <span class="title">Joseph Junior</span>
                  <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Donec sit amet lacinia orci. Proin
                    vestibulum eget risus non luctus. Nunc cursus lacinia
                    lacinia. Nulla molestie malesuada est ac tincidunt. Quisque
                    eget convallis diam, nec venenatis risus. Vestibulum blandit
                    faucibus est et malesuada. Sed interdum cursus dui nec
                    venenatis. Pellentesque non nisi lobortis, rutrum eros ut,
                    convallis nisi. Sed tellus turpis, dignissim sit amet
                    tristique quis, pretium id est. Sed aliquam diam diam, sit
                    amet faucibus tellus ultricies eu. Aliquam lacinia nibh a
                    metus bibendum, eu commodo eros commodo. Sed commodo
                    molestie elit, a molestie lacus porttitor id. Donec
                    facilisis varius sapien, ac fringilla velit porttitor et.
                    Nam tincidunt gravida dui, sed pharetra odio pharetra nec.
                    Duis consectetur venenatis pharetra. Vestibulum egestas nisi
                    quis elementum elementum.</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <span class="image image-as-text bg-tertiary">MD</span>
                  <span class="title">Monica Doe</span>
                  <span class="message">Lorem ipsum dolor sit.</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <span class="image image-as-text bg-quaternary">RD</span>
                  <span class="title">Robert Doe</span>
                  <span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec sit amet lacinia orci. Proin vestibulum eget risus non
                    luctus. Nunc cursus lacinia lacinia. Nulla molestie
                    malesuada est ac tincidunt. Quisque eget convallis
                    diam.</span>
                </a>
              </li>
            </ul>

            <hr />

            <div class="text-right">
              <a href="#" class="view-more">View All</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
          <i class="bx bx-bell"></i>
          <span class="badge">3</span>
        </a>

        <div class="dropdown-menu notification-menu">
          <div class="notification-title">
            <span class="float-right badge badge-default">3</span>
            Alerts
          </div>

          <div class="content">
            <ul>
              <li>
                <a href="#" class="clearfix">
                  <div class="image">
                    <i class="bx bx-dislike bg-danger"></i>
                  </div>
                  <span class="title">Server is Down!</span>
                  <span class="message">Just now</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <div class="image">
                    <i class="bx bx-lock-alt bg-warning"></i>
                  </div>
                  <span class="title">User Locked</span>
                  <span class="message">15 minutes ago</span>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <div class="image">
                    <i class="bx bx-wifi bg-success"></i>
                  </div>
                  <span class="title">Connection Restaured</span>
                  <span class="message">10/10/2017</span>
                </a>
              </li>
            </ul>

            <hr />

            <div class="text-right">
              <a href="#" class="view-more">View All</a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <span class="separator"></span>

    <div id="userbox" class="userbox">
      <a href="#" data-toggle="dropdown" class="dd">
        <!-- <span class="profile-picture profile-picture-as-text">JD</span> -->
        <img ngxGravatar [email]="'panktibhavsar1@gmail.com'" size="30" src="" />
        <div class="profile-info profile-info-no-role" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
          <span class="name">Hi, <strong class="font-weight-semibold">Pankti Bhavsar</strong></span> </div>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="dropdown-menu">
        <ul class="list-unstyled">
          <li>
            <a role="menuitem" tabindex="-1" href="/user-profile"><i class="bx bx-user"></i> My
              Profile</a>
          </li>
          <li>
            <a role="menuitem" tabindex="-1" [routerLink]="['/lock-screen']" data-lock-screen="true"><i
                class="bx bx-lock-open-alt"></i> Lock
              Screen</a>
          </li>
          <li>
            <a role="menuitem" tabindex="-1" (click)="logout()" style="cursor: pointer;"><i class="bx bx-log-out"></i>
              Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="inner-wrapper">
  <!-- start: sidebar -->
  <aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
      <div class="sidebar-toggle d-none d-md-flex" data-toggle-class="sidebar-left-collapsed" data-target="html"
        data-fire-event="sidebar-left-toggle">
        <i id="toggler" class="fas fa-bars" aria-label="Toggle sidebar"></i>
      </div>
    </div>

    <div class="nano">
      <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
          <ul class="nav nav-main list-unstyled">
            <li class="nav-parent nav-expanded nav-inverse nav-collapse nav-active">
              <a class="nav-link" href="/organizational-overview">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span>Origanizational Overview</span>
              </a>
            </li>

            <li class="nav-parent nav-item dropdown nav-expanded nav-collapse nav-active">
              <a class="nav-link" href="#">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span>Management</span>
              </a>
              <ul class="nav nav-children">
                <li class="">
                  <a class="nav-link" href="/users">
                    - Users
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="/accounts">
                    - Accounts
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-parent nav-item dropdown nav-expanded nav-collapse nav-active">
              <a class="nav-link" href="#">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span>Masters</span>
              </a>
              <ul class="nav nav-children">
                <li class="">
                  <a class="nav-link" href="/role-permissions">
                    - Role Permissions
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-parent nav-item dropdown nav-expanded nav-collapse nav-active">
              <a class="nav-link dropdown-toggle" href="/search-employee">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span>Employee</span>
              </a>
            </li>
            <li class="nav-parent nav-item dropdown nav-expanded nav-collapse nav-active">
              <a class="nav-link dropdown-toggle" href="/SearchClient">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span>Clients</span>
              </a>
            </li>
            <li class="nav-parent nav-item dropdown nav-expanded nav-collapse nav-active">
              <a class="nav-link dropdown-toggle" href="/SearchConsultants">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <span>Consultants</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <script>
        // Maintain Scroll Position
        if (typeof localStorage !== "undefined") {
          if (localStorage.getItem("sidebar-left-position") !== null) {
            var initialPosition = localStorage.getItem("sidebar-left-position"),
              sidebarLeft = document.querySelector(
                "#sidebar-left .nano-content"
              );

            sidebarLeft.scrollTop = initialPosition;
          }
        }
      </script>
    </div>
  </aside>
  <!-- end: sidebar -->
  <!-- <app-dashboard [routerLink]="['/dashboard']"></app-dashboard>
    <app-products-list [routerLink]="['/products-list']"></app-products-list> -->

</div>
